# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
build/
dist/
eggs/
*.egg-info/
.installed.cfg
*.egg

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
.tox/
.coverage
.cache
nosetests.xml
coverage.xml

# Translations
*.mo
*.pot

# Jupyter Notebook checkpoints
.ipynb_checkpoints

# Virtual environment folders
venv/
stockfish/
.env

# VS Code settings folder
.vscode/

# PyCharm project files
.idea/

# Logs
*.log

# Python profiler
.prof

# mypy
.mypy_cache/

# pytype
.pytype/

# Cython debug symbols
cython_debug/
